@model DemoMisrInternationalLab.Models.PatientsRequestsAllViewModel
@using DemoMisrInternationalLab.Resources
<div class="table-scrollb">
    @if (Model.PatientRequestStatusWithAnalyzes.Any())
    {
        <table class="table table-bordered" id="Report_Table">
            <thead>
                <tr>
                    <th width="90px">Request #</th>
                    <th width="50px">Category</th>
                    <th>Name</th>
                    <th width="80px">Phone</th>
                    <th>Analysis</th>
                    <th width="130px">Date</th>
                    <th width="115px">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.PatientRequestStatusWithAnalyzes.Count(); i++)
                {
                    <tr>
                        <td>@Model.PatientRequestStatusWithAnalyzes[i].PatientRequestStatus.RequestNumber</td>
                        <td>
                            <span class="label label-warning">@Model.PatientRequestStatusWithAnalyzes[i].PatientRequestStatus.CategoryTypeName</span>
                        </td>
                        <td>@Model.PatientRequestStatusWithAnalyzes[i].PatientFullName</td>
                        <td>@Model.PatientRequestStatusWithAnalyzes[i].PatientRequestStatus.Mobile </td>
                        <td>
                            @{
                    var AnalyzesList = String.Empty;
                    if (Model.PatientRequestStatusWithAnalyzes[i].PatientRequestAnalysis != null && Model.PatientRequestStatusWithAnalyzes[i].PatientRequestAnalysis.Any())
                    {
                        AnalyzesList = String.Join(", ", Model.PatientRequestStatusWithAnalyzes[i].PatientRequestAnalysis.Select(a => a.AnalysisCode));
                    }
                    @AnalyzesList
                            }
                        </td>
                        <td>@Model.PatientRequestStatusWithAnalyzes[i].PatientRequestStatus.RequestDate.ToString("MM-dd-yy hh:mm t")</td>
                        <td align="center" style="word-spacing:10px;">
                            <a href="#Display_Report_Popup"><i class="fa fa-eye"></i></a>
                            <a href="#Print_Report_Popup"><i class="fa fa-print"></i></a>
                            <a href="#Download_Report_Popup"><i class="fa fa-download"></i></a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div id="Display_Report_Popup" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="contentt">
                    <div id="Display_Report_Popup_Content" style="z-index:9999 !important;">
                        <div class="table-scrollb" style="margin-top:20px;"> <img src="~/images/invoice.PNG" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Print_Report_Popup" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="contentt">
                    <div id="Print_Report_Popup_Content" style="z-index:9999 !important;">
                        <div class="table-scrollb" style="margin-top:20px;"> <img src="~/images/invoice.PNG" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Download_Report_Popup" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="contentt">
                    <div id="Download_Report_Popup_Content" style="z-index:9999 !important;">
                        <div class="table-scrollb" style="margin-top:20px;"> <img src="~/images/invoice.PNG" /></div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <p> There are no reports in this current date interval </p>
    }
</div>

