@model DemoMisrInternationalLab.Models.PatientsRequestsAllViewModel
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "Receive_PatientRequest_ForSampling_Form", @name = "Receive_PatientRequest_ForSampling_Form" }))
{
     @Html.AntiForgeryToken()
    if (Model.PatientRequestStatusWithAnalyzes != null)
    {
        for (int i = 0; i < Model.PatientRequestStatusWithAnalyzes.Count; i++)
        {
            @Html.HiddenFor(m => Model.PatientRequestStatusWithAnalyzes[i].PatientRequestStatus.RequestID)
            <div class="ck-button">
                <label>

                    <input type="checkbox" name="SelectedPatientsRequestIDs"
                           id="@Model.PatientRequestStatusWithAnalyzes[i].PatientRequestStatus.RequestID"
                           value="@Model.PatientRequestStatusWithAnalyzes[i].PatientRequestStatus.RequestID"
                           @{if (Model.SelectedPatientsRequestIDs.Contains(@Model.PatientRequestStatusWithAnalyzes[i].PatientRequestStatus.RequestID)) { <text> checked='checked' </text>              } } />
                    <span>

                        <table width="100%">

                            <tr>
                                <td width="12%">@Html.DisplayTextFor(m => Model.PatientRequestStatusWithAnalyzes[i].PatientRequestStatus.RequestNumber)</td>
                                <td width="70%">@Html.DisplayFor(x => Model.PatientRequestStatusWithAnalyzes[i].PatientFullName)</td>
                                <td width="10%">@Html.DisplayTextFor(m => Model.PatientRequestStatusWithAnalyzes[i].PatientRequestAnalysis.Count)</td>
                                <td width="8%"></td>
                            </tr>

                        </table>




                    </span>

                </label>
            </div>

        }
    }
}
