@model DemoMisrInternationalLab.Models.UnitViewModel
<div class="row">
    @if (Model != null && Model.Devices.Any())
    {
        @Html.HiddenFor(m => Model.Unit.UnitId)
        for (int i = 0; i < Model.Devices.Count; i++)
        {
            @Html.HiddenFor(m => Model.Devices[i].Device.DeviceId)
            @Html.HiddenFor(m => Model.Devices[i].Device.DeviceName)
            <div class="col-md-6">
                <div class="col-md-12">
                    <ol class="scrolll" data-draggable="target" id="@( "DeviceId_" + Model.Devices[i].Device.DeviceId)">
                        @{var Class = "ck-button";}
                        @for (int j = 0; j < Model.Devices[i].Analyzes.Count; j++)
                        {
                            @Html.HiddenFor(m => Model.Devices[i].Analyzes[j].RequestedAnalysisID)
                            var Age = Model.Devices[i].Analyzes[j].BirthDate != null ? (DateTime.Now.Year - Convert.ToDateTime(Model.Devices[i].Analyzes[j].BirthDate).Year).ToString() : String.Empty;
                            if (j % 2 == 1)
                            {
                                Class = "ck-buttonb";
                            }
                            else
                            {
                                Class = "ck-button";
                            }
                            <li data-draggable="item" class="@Class" id="@("DeviceAnalysisId_" + Model.Devices[i].Analyzes[j].DeviceAnalysisId)">
                                @Model.Devices[i].Analyzes[j].AnalysisName  &nbsp; || &nbsp;
                                Run#: @Model.Devices[i].Analyzes[j].RunNumber    &nbsp; || &nbsp;
                                Gender: @Model.Devices[i].Analyzes[j].Gender        &nbsp; || &nbsp;
                                Age: @Age

                            </li>

                        }
                    </ol>

                </div>

                <div class="col-md-12">
                    <div class="row text-right">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-success" style="border-radius:0;" onclick="RunTest(@Model.Devices[i].Device.DeviceId);">Run Test</button>
                        </div>
                    </div>

                </div>

            </div>
        }
    }
</div>
@Scripts.Render("~/bundles/dragdrop")





