@model DemoMisrInternationalLab.Models.DeviceViewModel
@using DemoMisrInternationalLab.Resources
@using (Html.BeginForm("", "Lab", FormMethod.Post, new { @id = "Device_Plan_Analyzes_Form" }))
{
    @*@Html.AntiForgeryToken()*@
    if (Model != null && Model.Analyzes.Any())
    {
        @Html.HiddenFor(m => Model.Device.DeviceId)
        @Html.HiddenFor(m => Model.Unit.UnitId)
        for (int i = 0; i < Model.Analyzes.Count; i++)
        {
            @Html.HiddenFor(m => Model.Analyzes[i].RequestedAnalysisID)
            @Html.HiddenFor(m => Model.Analyzes[i].AnalysisCode)
            @Html.HiddenFor(m => Model.Analyzes[i].RunNumber)
            @Html.HiddenFor(m => Model.Analyzes[i].Gender)
            @Html.HiddenFor(m => Model.Analyzes[i].BirthDate)
            @Html.HiddenFor(m => Model.Analyzes[i].Priority)
            @Html.HiddenFor(m => Model.Analyzes[i].RequestDate)
        }
        <div class="table-scroll">
            <table class="table table-bordered">
                <thead>
                    <tr style="BACKGROUND-COLOR: #1C598F;COLOR: #FFF;">
                        <td>Run #</td>
                        <th>Analysis Code</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Request Date</th>
                        <th>Rake #</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.HiddenFor(m => Model.Analyzes)
                    @for (int i = 0; i < Model.Analyzes.Count; i++)
                    {
                        var Age = Model.Analyzes[i].BirthDate != null ? (DateTime.Now.Year - Convert.ToDateTime(Model.Analyzes[i].BirthDate).Year).ToString() : String.Empty;
                        <tr>
                            <td>@Html.DisplayFor(m => Model.Analyzes[i].RunNumber)</td>
                            <td>@Html.DisplayFor(m => Model.Analyzes[i].AnalysisCode)</td>
                            <td>@Html.DisplayFor(m => Model.Analyzes[i].Gender)</td>
                            <td>@Age</td>
                            <td>@Html.DisplayFor(m => Model.Analyzes[i].RequestDate)</td>
                            <td>@(i + 1)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-right">
            <button type="button" id="ConfirmRunTest_Button"
                    name="ConfirmRunTest_Button" class="btn btn-danger"
                    style="border-radius:0;" onclick="ConfirmRunTest();">
                Confirm
            </button>
            <button type="button" id="CancelRunTest_Button"
                    name="CancelRunTest_Button" class="btn btn-danger"
                    style="border-radius:0;" onclick="Close();">
                Cancel
            </button>
        </div>
    }
}




