@model List<DemoMisrInternationalLab.Models.PlanViewModel>
@if (Model != null)
{
    <div>
        <table class="table table-bordered" id="Lab_Plans_Table">
            <thead>
                <tr>
                    <th width="7%">Plan NO</th>
                    <th width="15%">Plan Date</th>
                    <th>Status</th>
                    <th width="30%">Device Name</th>
                    <th width="15%">Analyzes Count</th>
                    <th width="25%">Doctor Name</th>
                    <th width="10%">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var plan in Model)
                {
                    <tr>
                        <td>@plan.Plan.PlanNumber</td>
                        <td>@plan.Plan.TestDate</td>
                        <td>
                            @if (plan.IsOpened)
                            {
                                <a href="#" onclick="GoToOpenedPlan(event,@plan.Plan.PlanId.ToString());">
                                    <span style="color:red;">Opened</span>
                                </a>
                            }
                            else
                            {
                                <span style="color:green;">Closed</span>
                            }
                        </td>
                        <td>@plan.Plan.DeviceName </td>
                        <td>@plan.Analyzes.Count </td>
                        <td>@plan.Plan.FirstName @plan.Plan.LastName</td>
                        <td>
                            @Html.ActionLink("Show", "", new
                               {
                                   PlanId = @plan.Plan.PlanId
                               },
                               new
                               {
                                   onclick = "return GetPlanDetails('" + @plan.Plan.PlanId + "');"
                               })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}