@model DemoMisrInternationalLab.Models.PlansViewModel
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "Opened_Plans_Form" }))
{
    @Html.AntiForgeryToken()
    <div class="captureresult-list">

        <div class="col-md-10">
            @Html.DropDownListFor(p => Model.SelectedPlanId,
                                    Model.PlansIEnum, "-- Units --",
                                  new { @id = "Opened_Plans_SelectedPlanId", @class = "form-control form-widthhh-full formtop-mobile" })

        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-success" onclick="ReloadOpenedPlans();" style="border-radius:0;">Reset</button>
        </div>


    </div>
  
                <div id="Opened_Plan_Container"></div>
      

}
@Scripts.Render("~/bundles/jqueryval")
<script src="~/js/carouseller.min.js"></script>
<script type="text/javascript"> 
    /////////////////////////////////////////////////
    function ReloadOpenedPlans() {
        try {
            $("#captureResult").load('@Url.Action("GetOpenedPlans", "Lab")');
        }
        catch (err) {
            alert(err.message);
        }
    }
    /////////////////////////////////////////////////
    $('#Opened_Plans_Form').submit(function (ev) {
        ev.preventDefault();
        //do something
    });
    /////////////////////////////////////////////////////////////////
    $('#Opened_Plans_SelectedPlanId').change(function () {
        var SelectedPlanId = this.value;
        LoadPlanAnalzes(SelectedPlanId);
    });
    //////////////////////////////////////////////////////////////////////
    function LoadPlanAnalzes(PlanId) {
        try {
            $("#Opened_Plans_SelectedPlanId").val(PlanId);
            $("#Opened_Plan_Container").load('@Url.Action("LoadAnalyzesForCaptureResult", "Lab")?PlanId=' + PlanId);
        }
        catch (err) {
            alert(err.message);
        }
    }
    ///////////////////////////////////////////////////////////
    function MoveToNextRow(ev) {
        try {
            ev.preventDefault();
            if (ev.keyCode == 13) { /// Enter button for new record
                var rowElem = ev.target.closest("tr");
                var tableElem = rowElem.closest("table");
                var rowCount = tableElem.rows.length;
                if (rowElem.rowIndex < rowCount - 1) {/// Move to next row
                    tableElem.rows[rowElem.rowIndex + 1].getElementsByTagName("input")[0].focus();
                }
            }
        } catch (err) {
            console.log(err.message);
        }
        return false;
    }
    ////////////////////////////////////////////////////////////
    function SaveResult(TablePrefix, RequestedAnalysisId) {
        try {
            var form = $(document.getElementById('Opened_Plans_Form'));
            if (form.validate()) {
                var tableElem = document.getElementById(TablePrefix + RequestedAnalysisId);
                for (i = 0; i < tableElem.getElementsByTagName("input").length; i++) {
                    var inputText = tableElem.getElementsByTagName("input")[i];
                    if (inputText.value == "") {
                        inputText.focus();
                        return;
                    }
                }
                $.ajax({
                    cache: false,
                    async: true,
                    type: "POST",
                    url: "/Lab/SaveAnalysisReslut",
                    data: form.serialize() +  "&RequestedAnalysisId=" + RequestedAnalysisId,
                    success: function (data) {
                        if (data != null && data.length > 0) {
                            LoadPlanAnalzes(data);
                        } else {
                            ReloadOpenedPlans();
                        }
                    },
                    error: function (xhr, desc, err) {
                        alert("Error: " + err.message + " " + desc + " " + xhr.responseText);
                    }
                });
            } else {
                console.log("eeror");
            }
        }
        catch (err) {
            alert(err.message + err.description);
        }
    }
</script>